<div class="navbar">    
  <div class="logo-wrapper">
     <img class="logo" src="../images/whispererz_logo.png" alt="">
    <img class="logo" src="../images/whispererz.png" alt="">
</div>
    <ul>
        <li>
           <a href='/secrets/read-secret'><button class="btn">Read Secrets</button></a>
        </li>
        <li>
          <a href='/secrets/share-secret'><button class="btn">Share Secrets</button></a>
        </li>
        <li>
          <a href='/auth/logout'><button class="btn">Logout</button></a>
        </li>
    </ul>
</div>

<div class="user-secret-wrapper">
    <h2>Welcome {{username}}!</h2>
    {{#each secrets}}
        <p class="user-secret-text">{{secret}}</p>
        <a href='/secrets/edit/{{id}}'><button class="btn-small">Edit</button></a>
        <a href='/secrets/delete/{{id}}'><button class="btn-small">Delete</button></a>
    {{/each}}
    
<p>You shared {{ secrets.length }} secrets.</p>
<p>You are ready to read {{ credit }} secrets</p>
</div>

