<div class="navbar">
  <div class="logo-wrapper">
    <img class="logo" src="../images/whispererz_logo.png" alt="" />
    <img class="logo" src="../images/whispererz.png" alt="" />
  </div>
  <ul>
    <li>
      <a class="btn" href="/secrets/read-secret">Read Secrets</a>
    </li>
    <li>
      <a class="btn" href="/secrets/share-secret">Share Secrets</a>
    </li>
    <li>
      <a class="btn" href="/auth/logout">Logout</a>
    </li>
  </ul>
</div>

<div class="user-secret-wrapper">
  <h2>Welcome {{username}}!</h2>
  {{#each secrets}}
    <p class="user-secret-text">{{secret}}</p>
    <a href="/secrets/edit/{{id}}"><button class="btn-small">Edit</button></a>
    <a href="/secrets/delete/{{id}}"><button
        class="btn-small"
      >Delete</button></a>
  {{/each}}

  <p>You shared {{secrets.length}} secrets.</p>
  <p>You are ready to read {{credit}} secrets</p>
</div>