<div class="navbar">    
   <img class="logo" src="/images/whispererz_logo.png" alt="">
    <ul>
        <li class='to-right'>
           <a href='/secrets/read-secret'>Read Secrets</a>
        </li>
        <li class='to-right'>
          <a href='/secrets/share-secret'>Share Secrets</a>
        </li>
        <li class='to-right'>
          <a href='/auth/logout'>Logout</a>
        </li>
    </ul>
</div>

<div class="user-secret-wrapper">
    <h2>Welcome {{username}}!</h2>
    {{#each secrets}}
        <p class="user-secret-text">{{secret}}</p>
        <a href='/secrets/edit/{{id}}'><button class="btn-small">Edit</button></a>
        <a href='/secrets/delete/{{id}}'><button class="btn-small">Delete</button></a>
    {{/each}}
    
<p>You shared {{ secrets.length }} secrets.</p>
<p>You are ready to read {{ credit }} secrets</p>
</div>

